@import 'reset.scss';
@import 'variables.scss';
@import 'mixins.scss';

@include keyframes(fadeIn) {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@include keyframes(switch){
	0%{
		transform: rotate(0);
	}
	80%{
		transform: rotate(0);
	}
	90%{
		transform: rotate(-20deg);
	}
	100%{
		transform: rotate(0);
	}
}
::-webkit-scrollbar {
    width: 15px;}
 
::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: $red;
}

::selection {
	background-color: $red;
	color: #fff;
	}
::-moz-selection {
	background-color: $red;
	color: #fff;
}
::-webkit-selection{
	background-color: $red;
	color: #fff;
}
@font-face{
	font-family: 'plusplus';
	src: url('fonts/plusplus-webfont.tff'), url('fonts/plusplus-webfont.svg'), 
    url('fonts/plusplus-webfont.eot'), url('fonts/plusplus-webfont.woff'), url('fonts/plusplus-webfont.otf');
}
body {
	background:#f1f1f1;
	padding:7% 0 5% 0;
	font-family: 'PT Sans', sans-serif;
	p{
		color:#999;
		line-height:1.5em;

		@include bp(xs){
			font-size: 1.3rem;
		}
	}

	@include bp(xs){
		padding: 0;
	}
	
}

#wrapper{
	width: 76%;
	max-width: 1440px;
	margin: 0 auto;
	min-height:100%;

	@include bp(xs){
		width: 100%;
	}
}

h2{
	
	font-size:3rem;
	width:35%;
	padding:2%;
	color:#fff;
	background: $red;
	text-transform:uppercase;
	letter-spacing:0.2em;
	margin:0 0.3% 0.3% 0;
	float:left;

	&:after{
		clear: both;
	}

	&::selection {
		background-color: #fff;
		color: $red;
		}
	&::-moz-selection {
		background-color: #fff;
		color: $red;
	}
	&::-webkit-selection{
		background-color: #fff;
		color: $red;
	}


	@include bp(m){
		width: 100%;
		float: none;
		font-size: 3.2rem;
	}
	@include bp(xs){
		font-size: 2.6rem;
		padding: 4%;
	}
}

h3{
	margin:0% 0 5% 0;
	font-size: 1.7em;
	text-transform:uppercase;
	letter-spacing:0.2em
}

span{
		&.cta{
		margin:5% 0 5% 0;
		font-size: 1.2em;
		text-transform:uppercase;
		letter-spacing:0.2em;
		color:#000;
		text-decoration:none;
		border:1px solid #000;
		padding:2% 4%;
		display: block;
		transition: $transition;

		@include bp(s){
			width: 90%;
			padding: 2% 0;
			margin: 5%;
		}

		&:hover{
			cursor: pointer;
			background-color: $red;
			color: #fff;
			border-color: $red;
		}
	}
}

.description{
	width:35%;
	padding:2%;
	font-family: 'PT Sans', sans-serif;
	background:#fff;
	float:left;

	&:after{
		clear: both;
	}

	@include bp(xs){
		padding: 4%;
		width: 100%;
		float: none;
	}

}

header.main{
	background:$red;
	color:#fff;
	padding-top: 25px;
	min-height:326px;
	min-width:200px;
	width:24%;
	float:left;
	text-align:center;
	margin:0 0.3% 0.3% 0;
	font-family: 'PT Sans', sans-serif;

	&:after{
		clear: both;
	}
	.logo{
		animation: switch 5s;
		-webkit-animation: switch 5s;
		-moz-animation: switch 5s;

		@include bp(m){
			font-size: 2.7rem;
		}
	}
	.logo1, .logo2{
		font-size:10rem;
		letter-spacing:-0.1rem; 
		font-weight:bold;

		@include bp(xs){
			font-size: 5rem;
		}
	}
	.logo1{
		-moz-animation: fadeIn 3s;
		-webkit-animation: fadeIn 3s;
		animation: fadeIn 3s;
	}
	.logo2{
		-moz-animation: fadeIn 5s;
		-webkit-animation: fadeIn 5s;
		-animation: fadeIn 5s;
	}
	h1{
		margin:12% 0 5% 0;
		font-size: 1.7rem;
		text-transform:uppercase;
		letter-spacing:0.2rem;
		-moz-animation: fadeIn 3s;
		-webkit-animation: fadeIn 3s;
		animation: fadeIn 3s;

		@include bp(m){
			margin: 45px 0 10px;
			font-size: 2.5rem;
		}
		@include bp(xs){
			font-size: 3rem;
			margin: 17px 0 10px 0;
		}
	}

	.subHeading{
		font-size: 1rem;
		text-transform:uppercase;
		letter-spacing:0.2rem;
		-moz-animation: fadeIn 5s;
		-webkit-animation: fadeIn 5s;
		-animation: fadeIn 5s;

		@include bp(m){
			font-size: 1.7rem;
		}

		@include bp(xs){
			font-size: 1.5rem;
		}
	}

	@include bp(xl){
		height: 325px;
	}

	@include bp(l){
		height: 328px;
	}
	@include bp(m){
		width: 100%;
		min-height: 0;
		height: 310px;
		padding-top: 10px;
	}
	@include bp(xs){
	    float: none;
	    height: 230px;
	    min-height: 0;
	    padding: 20px 0 15px;
	}
}
.navWrap{
	width: 100%
}
nav.main{
	float: left;
	background:#fff;
	width: 75.7%;
	margin:0 0 0.3% 0;
	transition: none;
  .logoNav{
    display: none;  
  }
	&:after{
		clear: both;
	}
		&.stuck{
			position: fixed;
			top: 0;
			left: 0;
			border-bottom: 3px solid #f1f1f1;
			z-index: 999;
			width: 100%;
			transition: $transition;
		      .logoNav{
		         display: block; 
		         background-color: $red;
		         font-weight: bold;
		        color: #fff;
		      }
			li{
				padding: 35px 5% 26px 5%;
				@include bp(m){
					width: 20%;
					text-align: center;
					padding: 35px 5% 26px 5%;
				}
				@include bp(xs){
					padding: 20px 0 20px 0;
					width: 50%;

					&.logoNav{
						display: none;
					}
				}
			}
		}
	li{
		font-size:1.1em;
		letter-spacing:0.1em;
		list-style:none;
		font-family: 'PT Sans', sans-serif;
		float:left;
		max-height:100px;
		padding: 63px 5% 26px 5%;
		color: #000;
		text-decoration: none;
		transition: $transition;
		&:after{
			clear: both;
		}
    &:hover{
      background-color:lighten($red, 10%);      
    }
    &.active{
      background-color:$red; 

      	&::selection {
		background-color: #fff;
		color: $red;
		}
		&::-moz-selection {
			background-color: #fff;
			color: $red;
		}
		&::-webkit-selection{
			background-color: #fff;
			color: $red;
		}     
    }
		&:hover, &.active{
			color:#fff;
			cursor:pointer;
		}
		@include bp(m){
			width: 25%;
			text-align: center;
			padding: 35px 5% 26px 5%;
		}
		@include bp(xs){
			padding: 20px 0 20px 0;
			width: 50%;
		}
	}

	@include bp(m){
		width: 100%;
	}

	@include bp(xs){
		float: none;
		height: 115px;
	}
}

.title{
	h2{
		min-height:  145px;

		@include bp(l){
			min-height: 190px;
		}

		@include bp(m){
			min-height: 0;
		}
	}
}

.clearBoth{
	clear: both;
}
.container{
	padding-top: 180px;
	padding-bottom: 30px;
	clear: both;

	&:last-of-type{
		padding-bottom: 150px;

		@include bp(s){
			padding-bottom: 30px;
		}
    @include bp(xs){
      margin: 0;
      padding-bottom: 0;
    }   
	}
}

.thumbMedium{
	width: 37.65%;
	float:left;
	height: 222px;
	background-color: #000;
	margin:0 0.3% 0 0;
	overflow:hidden;

	&+.thumbMedium{
		margin: 0;
	}
	img{
		width:100%;
		opacity:0.7;
	}
	@include bp(xl){
		width: 75.7%;
		margin: 0;
		&+ .thumbMedium{
				display: none;
			}

	}
	@include bp(l){
		display: none;
	}
}

.thumbLarge {
	width:100%;
	height:225px;
	clear: both;
	background:black;
	color:#fff;
	overflow:hidden;
	img{
		margin:-200px 0 0 0; 
		width:100%;
		opacity:0.7;
		@include bp(l){
			margin: 0;
		}
		@include bp(xs){
			width: 150%;
		}
	}
	@include bp(l){
		float: left;
		width: 75.5%;
		clear: none;
	}
	@include bp(m){
		width: 100%;
	}
}

#services{
  h2{
     width: 33.1%; 
     min-height: 195px;
     @include bp(m){
       width: 100%; 
       min-height: 0;
    }
    @include bp(s){ 
       padding: 4%;
    }
  }
  
	.description{
		width: 66.5%;
		float:right;
		margin:0 0 0.3% 0;
		min-height: 195px;

		@include bp(l){
			min-height: 190px;
		}

		@include bp(m){
			width: 100%;
			padding: 0;

			p{
				padding: 10px;
			}
		}

		@include bp(xs){
			float: none;
			width: 100%;
			padding: 2%;
		}
	}
}

.services{
	width: 100%;
	clear:both;
	p{
		padding:5% 0; 

		@include bp(xs){
			padding: 22px 0;
		}
	}
	li{
		background:#fff;
		margin:0 0.3% 0.3% 0;
		width: 33.1%;
		float:left;
		text-align:center;
	    transition: $transition;
	    cursor: pointer;    
		padding:3%;

		&:last-of-type{
			width: 33.2%;
			margin-right: 0;

			@include bp(s){
				width: 100%;
				padding: 3% 0;
			}
		}
    

    &[data-active='true']{
        background-color: $red;
        p{
            color: #fff;
        }
        .cta{
          color: $red;
          border-color: $red;
          &:hover{
            cursor: default;
          }

        &::selection {
			background-color: #fff;
			color: $red;
		}
		&::-moz-selection {
			background-color: #fff;
			color: $red;
		}
		&::-webkit-selection{
			background-color: #fff;
			color: $red;
		}

        }
      
        h3{
          color: #fff;
        }
        &:hover{
          cursor: default;
          .cta{
              color: $red; 
            }
        }
    }
    
    &:after{
         content: "";
         height: 100%;
         width: 0.3%;
         background-color: #f1f1f1;
      }
    
		h3{
			@include bp(s){
				margin-top: 20px;
			}
		}

		p{
			min-height: 140px;

			@include bp(s){
				padding: 20px;
				min-height: 85px;
			}
		}
    
    &:hover{
        .cta{
          cursor: pointer;
          color: #fff;
          background-color: $red;
        }
     }

		@include bp(m){
			min-height: 320px;
    		width: 33%;
		}

		@include bp(s){
			width: 100%;
			padding: 0;
		}

		@include bp(xs){
			width: 100%;
			padding: 3% 0;
			min-height: 290px;
			float: none;
		}
	}

	&:after{
		clear: both;
	}
}

.levelDescription{
	display: block;
  	color: #fff;
	background-color: $red;
	clear: both;
	padding: 4%;
	-moz-animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;


	h3{
		margin: 0 0 2%;

		@include bp(xs){
			text-align: center;
		}
	}
  p{
     color: #fff; 

     	&::selection {
		background-color: #fff;
		color: $red;
	}
	&::-moz-selection {
		background-color: #fff;
		color: $red;
	}
	&::-webkit-selection{
		background-color: #fff;
		color: $red;
	}
  }
  .cta{
     background-color: #fff;
     color: #000;
     padding: 1% 2%;
     border: 2px solid lighten($red, 10%);
    
     &:hover{
         background-color: lighten($red, 10%); 
      }
  }
	.levelUp, .levelDown{
		display: inline-block;
		margin: 5% 0 0 0;

		@include bp(xs){
			display: block;
    		text-align: center;
		    float: left;
		    margin-left: 0.3%;
		    padding: 3% 0;
		    width: 48.5%;
		    margin-bottom: 15px;

		}
	}
}

#about{
	.description{
		@include bp(m){
			width: 100%;
			margin-top: 0.4%;
		}
	}
}

.sectionImage{ 
	width: 64.7%;
	float:right;
	img{
		width: 100%;
	}	

	@include bp(m){
		width: 100%;
		float: none;
		height: 100%;
	}
}

#contact{
	.description{
		width: 64.7%;
    float: right;

		p{
			margin-bottom: 30px;
		}
		ul{
			line-height: 1.5rem;
		
			li{
				color: #999;

				a{
					color: $red;
					text-decoration: none;
					transition: $transition;
          
          @include bp(xs){
             display: block; 
             margin-bottom: 15px;
          }

					&:hover{
						color: lighten($red, 25%);
					}
				}
        
        @include bp(xs){
           font-size: 1.3rem; 
        }
			}
		}

		@include bp(m){
			width: 100%;
			border-top: 0.4%;
		}
	}
}

footer{

	text-align: center;
	height: 200px;
	width: 76%;
	margin: 0 auto;

}
.social{
	margin: 0 auto;
	width: 35%;
	text-align: center;
  float: left; 

  @include bp(m){
    width: 100%; 
    margin-top: 0.4%;
  }
  
	ul{
		list-style: none;
	}
	li{
		float: left;
    width: 32.5%;
    margin-left: 1.2%;
    
    @include bp(m){
      margin-left: 0; 
      width: 33.3%;
    }
    
		a{
			font-family: 'plusplus';
      text-decoration: none;
      font-size: 3.2rem;
      color: #fff;
      height: 95px;
      display: block;
      width: 100%;
      float: left;
      background-color: $red;
      line-height: 6rem;
      transition: $transition;
      
       &.facebook{
         &:hover{
             background-color: #3B5998; 
          }
      }
      
      &.twitter{
         &:hover{
             background-color: #00AFEF;
          }
      }

      &.youtube{
         &:hover{
            background-color: #fff;
            color: $red;
          }
      }      

		}

		&:first-of-type{
        margin-left: 0;
		}
	}
}
#home{
	padding-bottom: 30px;
}