html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  height: 100%; }

/*Breakpoints*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes switch {
  0% {
    transform: rotate(0); }

  80% {
    transform: rotate(0); }

  90% {
    transform: rotate(-20deg); }

  100% {
    transform: rotate(0); } }

@-moz-keyframes switch {
  0% {
    transform: rotate(0); }

  80% {
    transform: rotate(0); }

  90% {
    transform: rotate(-20deg); }

  100% {
    transform: rotate(0); } }

@-ms-keyframes switch {
  0% {
    transform: rotate(0); }

  80% {
    transform: rotate(0); }

  90% {
    transform: rotate(-20deg); }

  100% {
    transform: rotate(0); } }

@keyframes switch {
  0% {
    transform: rotate(0); }

  80% {
    transform: rotate(0); }

  90% {
    transform: rotate(-20deg); }

  100% {
    transform: rotate(0); } }

body {
  background: #f1f1f1;
  padding: 7% 0 5% 0;
  font-family: 'PT Sans', sans-serif; }
  body p {
    color: #999;
    line-height: 1.5em; }
    @media screen and (max-width: 650px) {
      body p {
        font-size: 1.3rem; } }
  @media screen and (max-width: 650px) {
    body {
      padding: 0; } }

#wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%; }
  @media screen and (max-width: 650px) {
    #wrapper {
      width: 100%; } }

h2 {
  font-size: 4rem;
  width: 35%;
  padding: 2%;
  color: #fff;
  background: #e1140a;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0 3px 3px 0;
  float: left; }
  h2:after {
    clear: both; }
  @media screen and (max-width: 1100px) {
    h2 {
      width: 96%;
      float: none;
      font-size: 3.2rem; } }
  @media screen and (max-width: 650px) {
    h2 {
      width: 100%;
      text-align: center;
      font-size: 2.6rem;
      padding: 4% 0; } }

h3 {
  margin: 0% 0 5% 0;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

span.cta {
  margin: 5% 0 5% 0;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
  padding: 2% 4%;
  display: block;
  transition: all 0.3s; }
  @media screen and (max-width: 920px) {
    span.cta {
      width: 90%;
      padding: 2% 0;
      margin: 5%; } }
  span.cta:hover {
    cursor: pointer;
    background-color: #e1140a;
    color: #fff;
    border-color: #e1140a; }

.description {
  width: 35%;
  padding: 2%;
  font-family: 'PT Sans', sans-serif;
  background: #fff;
  float: left; }
  .description:after {
    clear: both; }
  @media screen and (max-width: 650px) {
    .description {
      padding: 4%;
      width: 92%;
      float: none; } }

header.main {
  background: #e1140a;
  color: #fff;
  padding-top: 50px;
  min-height: 326px;
  min-width: 200px;
  width: 24%;
  float: left;
  text-align: center;
  margin: 0 3px 3px 0;
  font-family: 'PT Sans', sans-serif; }
  header.main:after {
    clear: both; }
  header.main .logo {
    animation: switch 5s;
    -webkit-animation: switch 5s;
    -moz-animation: switch 5s; }
    @media screen and (max-width: 1100px) {
      header.main .logo {
        font-size: 2.7rem; } }
  header.main .logo1, header.main .logo2 {
    font-size: 10rem;
    letter-spacing: -0.1rem;
    font-weight: bold; }
    @media screen and (max-width: 650px) {
      header.main .logo1, header.main .logo2 {
        font-size: 5rem; } }
  header.main .logo1 {
    -moz-animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s; }
  header.main .logo2 {
    -moz-animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -animation: fadeIn 5s; }
  header.main h1 {
    margin: 12% 0 5% 0;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    -moz-animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s; }
    @media screen and (max-width: 1100px) {
      header.main h1 {
        margin: 45px 0 10px;
        font-size: 2.5rem; } }
    @media screen and (max-width: 650px) {
      header.main h1 {
        font-size: 3rem;
        margin: 17px 0 10px 0; } }
  header.main .subHeading {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    -moz-animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -animation: fadeIn 5s; }
    @media screen and (max-width: 1100px) {
      header.main .subHeading {
        font-size: 1.7rem; } }
    @media screen and (max-width: 650px) {
      header.main .subHeading {
        font-size: 1.5rem; } }
  @media screen and (max-width: 1350px) {
    header.main {
      height: 328px; } }
  @media screen and (max-width: 1100px) {
    header.main {
      width: 100%;
      min-height: 0;
      height: 310px;
      padding-top: 10px; } }
  @media screen and (max-width: 650px) {
    header.main {
      padding: 0 0 15px 0;
      float: none;
      height: 180px;
      min-height: 0; } }

.navWrap {
  width: 100%; }

nav.main {
  float: left;
  background: #fff;
  width: 75.53%;
  margin: 0 0 3px 0;
  transition: none; }
  nav.main:after {
    clear: both; }
  nav.main.stuck {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 3px solid #f1f1f1;
    z-index: 999;
    width: 100%;
    transition: all 0.3s; }
    nav.main.stuck li {
      padding: 35px 5% 26px 5%; }
      @media screen and (max-width: 1100px) {
        nav.main.stuck li {
          width: 15%;
          text-align: center;
          padding: 35px 5% 26px 5%; } }
      @media screen and (max-width: 650px) {
        nav.main.stuck li {
          padding: 20px 0 20px 0;
          width: 50%; } }
  nav.main li {
    font-size: 1.1em;
    letter-spacing: 0.1em;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    float: left;
    max-height: 100px;
    padding: 63px 5% 26px 5%;
    color: #000;
    text-decoration: none;
    transition: all 0.3s; }
    nav.main li:after {
      clear: both; }
    nav.main li:hover, nav.main li.active {
      background: #e1140a;
      color: #fff;
      cursor: pointer; }
    @media screen and (max-width: 1100px) {
      nav.main li {
        width: 15%;
        text-align: center;
        padding: 35px 5% 26px 5%; } }
    @media screen and (max-width: 650px) {
      nav.main li {
        padding: 20px 0 20px 0;
        width: 50%; } }
  @media screen and (max-width: 1100px) {
    nav.main {
      width: 100%; } }
  @media screen and (max-width: 650px) {
    nav.main {
      float: none;
      height: 115px; } }

.title h2 {
  min-height: 145px; }
  @media screen and (max-width: 1350px) {
    .title h2 {
      min-height: 190px; } }
  @media screen and (max-width: 1100px) {
    .title h2 {
      min-height: 0; } }

.clearBoth {
  clear: both; }

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  clear: both; }
  .container:last-of-type {
    padding-bottom: 350px; }
    @media screen and (max-width: 920px) {
      .container:last-of-type {
        padding-bottom: 30px; } }
  @media screen and (max-width: 650px) {
    .container {
      margin: 0; } }

.thumbMedium {
  width: 37.65%;
  float: left;
  height: 266px;
  background: black;
  margin: 0 3px 0 0;
  overflow: hidden; }
  .thumbMedium img {
    width: 100%;
    opacity: 0.7; }
  @media screen and (max-width: 1425px) {
    .thumbMedium {
      width: 75.5%; }
      .thumbMedium + .thumbMedium {
        display: none; } }
  @media screen and (max-width: 1350px) {
    .thumbMedium {
      display: none; } }

.thumbLarge {
  width: 99.8%;
  height: 225px;
  clear: both;
  background: black;
  color: #fff;
  overflow: hidden; }
  .thumbLarge img {
    margin: -200px 0 0 0;
    width: 100%;
    opacity: 0.7; }
    @media screen and (max-width: 1350px) {
      .thumbLarge img {
        margin: 0; } }
    @media screen and (max-width: 650px) {
      .thumbLarge img {
        width: 150%; } }
  @media screen and (max-width: 1350px) {
    .thumbLarge {
      float: left;
      width: 75.5%;
      height: 269px;
      clear: none; } }
  @media screen and (max-width: 1100px) {
    .thumbLarge {
      width: 100%; } }

#services .description {
  width: 56.7%;
  float: right;
  margin: 0 0 3px 0;
  min-height: 145px; }
  @media screen and (max-width: 1350px) {
    #services .description {
      min-height: 190px; } }
  @media screen and (max-width: 1100px) {
    #services .description {
      width: 100%;
      padding: 0; }
      #services .description p {
        padding: 10px; } }
  @media screen and (max-width: 650px) {
    #services .description {
      float: none;
      width: 96%;
      padding: 2%; } }

.services {
  width: 100%;
  clear: both; }
  .services p {
    padding: 5% 0; }
    @media screen and (max-width: 650px) {
      .services p {
        padding: 22px 0; } }
  .services li {
    background: #fff;
    margin: 0 3px 3px 0;
    width: 27.19%;
    float: left;
    padding: 3%;
    text-align: center; }
    @media screen and (max-width: 920px) {
      .services li h3 {
        margin-top: 20px; } }
    .services li p {
      min-height: 140px; }
      @media screen and (max-width: 920px) {
        .services li p {
          padding: 20px;
          min-height: 85px; } }
    .services li:last-of-type {
      margin-right: 0;
      width: 27.1512%; }
      @media screen and (max-width: 1405px) {
        .services li:last-of-type {
          width: 27.1%; } }
      @media screen and (max-width: 1275px) {
        .services li:last-of-type {
          width: 27.05%; } }
      @media screen and (max-width: 1155px) {
        .services li:last-of-type {
          width: 27.0%; } }
      @media screen and (max-width: 1060px) {
        .services li:last-of-type {
          width: 26.9%; } }
      @media screen and (max-width: 920px) {
        .services li:last-of-type {
          width: 100%;
          padding: 3% 0; } }
    @media screen and (max-width: 1425px) {
      .services li {
        width: 27.19%; } }
    @media screen and (max-width: 1100px) {
      .services li {
        min-height: 320px; } }
    @media screen and (max-width: 920px) {
      .services li {
        width: 100%;
        padding: 0; } }
    @media screen and (max-width: 650px) {
      .services li {
        width: 100%;
        padding: 3% 0;
        min-height: 290px;
        float: none; } }
  .services:after {
    clear: both; }

.levelOne, .levelTwo, .levelThree {
  display: block;
  background-color: #fff;
  clear: both;
  padding: 4%;
  -moz-animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }
  .levelOne h3, .levelTwo h3, .levelThree h3 {
    margin: 0 0 2%; }
    @media screen and (max-width: 650px) {
      .levelOne h3, .levelTwo h3, .levelThree h3 {
        text-align: center; } }
  .levelOne .levelUp, .levelOne .levelDown, .levelTwo .levelUp, .levelTwo .levelDown, .levelThree .levelUp, .levelThree .levelDown {
    display: inline-block;
    margin: 5% 0 0 0; }
    @media screen and (max-width: 650px) {
      .levelOne .levelUp, .levelOne .levelDown, .levelTwo .levelUp, .levelTwo .levelDown, .levelThree .levelUp, .levelThree .levelDown {
        display: block;
        text-align: center;
        float: left;
        margin-left: 3px;
        padding: 3% 0;
        width: 48.5%;
        margin-bottom: 15px; } }

.sectionImage {
  width: 60.7%;
  float: right; }
  .sectionImage img {
    width: 100%; }
  @media screen and (max-width: 650px) {
    .sectionImage {
      width: 100%;
      float: none;
      height: 100%; } }

#contact .description {
  float: none;
  margin-top: 3px;
  width: 96%; }
  @media screen and (max-width: 650px) {
    #contact .description {
      width: 92%; } }
#contact h2 {
  float: none;
  width: 96%; }
  @media screen and (max-width: 650px) {
    #contact h2 {
      width: 100%; } }

.social {
  text-align: center; }
  .social ul {
    list-style: none; }
  .social li {
    border-radius: 50px;
    height: 75px;
    width: 75px;
    background-color: #e1140a;
    float: left;
    margin-left: 25px;
    margin-top: 20px; }

#home {
  padding-bottom: 30px; }
